.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-56-1 {
  float: left;
  width: 66.1008%;
}

.panels-flexible-column-56-10 {
  float: left;
  width: 32.8992%;
}

.panels-flexible-56-inside {
  padding-right: 0px;
}

.panels-flexible-56 {
  width: auto;
}

.panels-flexible-region-56-mainarea {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-56-3-inside {
  padding-right: 0px;
}

.panels-flexible-column-56-5 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-56-6 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-56-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-56-mainleft {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-56-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-56-mainright {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-56-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-56-rightsidebar {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-56-11-inside {
  padding-right: 0px;
}

