.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-1-1 {
  float: left;
  width: 66.1008%;
}

.panels-flexible-column-1-10 {
  float: left;
  width: 32.8992%;
}

.panels-flexible-1-inside {
  padding-right: 0px;
}

.panels-flexible-1 {
  width: auto;
}

.panels-flexible-region-1-mainarea {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-3-inside {
  padding-right: 0px;
}

.panels-flexible-column-1-5 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-1-6 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-1-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-mainleft {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-mainright {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-1-rightsidebar {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-1-11-inside {
  padding-right: 0px;
}

